NODE_ENV=development
PORT=5000
DATABASE_URL=mongodb://localhost:27017/back-end-stater
BCRYPT_SALT_ROUNDS=12
DEFAULT_PASS=emon69!@#
JWT_ACCESS_SECRET = skjd7877789dec033b5ff4531e622ea3f93170e04ef565654de
JWT_REFRESH_SECRET = 54d8w4d8641dd92ba3fafa3f912d3c4dedebec352d7d5sdfj5748vc18f41
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=100d
# mongodb+srv://back-end-stater:iUFuSDefQNRuO31f@cluster0.oj1ojow.mongodb.net/back-end-stater?retryWrites=true&w=majority&appName=Cluster0